Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
Plugins/Developer/RiderLink
.idea
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
.p4ignore
#Ignore Developers Folders
Content/Developers/

